
* {
    font-family: 'Roboto', sans-serif;
}
html body {
    margin: 0px;
    padding: 0px;
}
.main {
    height: 100vh;
    width: 100vw;
    background-color: #261C2C;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.container {
    height: 40vh;
    width: 40vw;
    background-color: #5C527F;
    border-radius: 5px;
    color: beige;
}
.tanong {
    text-align: center;
    font-size: 20opx;
}
.btn1 {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
    margin-right: 20px;
    }
.btn1:hover {
    color: black;
}
.btn2 {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 70px;
}
.btn2:hover {
    color: black;
}
@media screen and (max-width: 414px) {
    .container {
        height: 40vh;
        width: 70vw;
        background-color: #5C527F;
        border-radius: 5px;
        color: beige;
    }
   .container .tanong {
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 360px) {
    .container {
        height: 40vh;
        width: 70vw;
        background-color: #5C527F;
        border-radius: 5px;
        color: beige;
    }
   .container .tanong {
        text-align: center;
        font-size: 18px;
    }
}
@media screen and (max-width: 428pxs) {
    .container {
        height: 40vh;
        width: 70vw;
        background-color: #5C527F;
        border-radius: 5px;
        color: beige;
    }
}